USE [master]
GO
/****** Object:  Database [ShareItDB]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE DATABASE [ShareItDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShareItDB', FILENAME = N'D:\all i want for chrismas is you (ai goku cover)\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShareItDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShareItDB_log', FILENAME = N'D:\all i want for chrismas is you (ai goku cover)\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShareItDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShareItDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShareItDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[Id] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[BankName] [nvarchar](255) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[RoutingNumber] [nvarchar](50) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_BankAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlacklistedTokens]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlacklistedTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](2000) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BlacklistedTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[RentalDays] [int] NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[User1Id] [uniqueidentifier] NOT NULL,
	[User2Id] [uniqueidentifier] NOT NULL,
	[LastMessageId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[UserId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[OrderId] [uniqueidentifier] NULL,
	[OrderItemId] [uniqueidentifier] NULL,
	[TargetType] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ProviderResponse] [nvarchar](1000) NULL,
	[ProviderResponseAt] [datetime2](7) NULL,
	[ProviderResponseById] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[OrderId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[RentalDays] [int] NOT NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[RentalStart] [datetime2](7) NULL,
	[RentalEnd] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeliveredDate] [datetime2](7) NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerFullName] [nvarchar](max) NULL,
	[CustomerPhoneNumber] [nvarchar](max) NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[HasAgreedToPolicies] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTransaction]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTransaction](
	[OrdersId] [uniqueidentifier] NOT NULL,
	[TransactionsId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderTransaction] PRIMARY KEY CLUSTERED 
(
	[OrdersId] ASC,
	[TransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[PricePerDay] [decimal](10, 2) NOT NULL,
	[AvailabilityStatus] [nvarchar](max) NOT NULL,
	[RentCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsPromoted] [bit] NOT NULL,
	[AverageRating] [decimal](2, 1) NOT NULL,
	[RatingCount] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ProfilePictureUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [uniqueidentifier] NOT NULL,
	[ReporterId] [uniqueidentifier] NOT NULL,
	[ReporteeId] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/18/2025 10:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](200) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NOT NULL,
	[GoogleId] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[EmailVerificationExpiry] [datetime2](7) NULL,
	[EmailVerificationToken] [nvarchar](max) NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
	[PasswordResetTokenExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250528085131_InitialCreate', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250530014757_AddContentToTransaction', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250603100330_AddOrderReferenceToNotification', N'9.0.5')
GO
INSERT [dbo].[BankAccounts] ([Id], [ProviderId], [BankName], [AccountNumber], [RoutingNumber], [IsPrimary]) VALUES (N'6716ad9a-268a-4bc7-9053-1cb2f0b7de11', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Vietcombank', N'0123456789', N'VCBVN001', 1)
INSERT [dbo].[BankAccounts] ([Id], [ProviderId], [BankName], [AccountNumber], [RoutingNumber], [IsPrimary]) VALUES (N'13f654db-0041-4c2d-8835-dce4b9b5062a', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Techcombank', N'0123456789', N'TCBVN001', 0)
GO
INSERT [dbo].[Carts] ([Id], [CustomerId], [CreatedAt]) VALUES (N'ede3408e-0634-481b-f605-08ddbc3dab36', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', CAST(N'2025-07-06T03:32:00.7878379' AS DateTime2))
GO
INSERT [dbo].[Conversations] ([Id], [User1Id], [User2Id], [LastMessageId], [UpdatedAt]) VALUES (N'e6bf6caa-3bd9-433e-7392-08ddc0ea49ef', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'c5c32e28-03f1-4a68-7547-08ddc2d8a59f', CAST(N'2025-07-14T13:16:30.3822429' AS DateTime2))
GO
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ConversationId], [ProductId]) VALUES (N'70507ccc-5e7e-410e-6a3d-08ddc0ea4c7c', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'hello', CAST(N'2025-07-12T02:24:11.5625567' AS DateTime2), 0, N'e6bf6caa-3bd9-433e-7392-08ddc0ea49ef', N'4887213a-37fe-4bb9-b3dc-0039a6003d98')
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ConversationId], [ProductId]) VALUES (N'e4e563ea-23ac-4caf-6a3e-08ddc0ea4c7c', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', N'day bro', CAST(N'2025-07-12T02:24:20.4564241' AS DateTime2), 0, N'e6bf6caa-3bd9-433e-7392-08ddc0ea49ef', NULL)
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt], [IsRead], [ConversationId], [ProductId]) VALUES (N'1e0b4a07-3230-4b8b-f370-08ddc0ec57ff', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'um', CAST(N'2025-07-12T02:32:27.7390810' AS DateTime2), 0, N'e6bf6caa-3bd9-433e-7392-08ddc0ea49ef', N'4887213a-37fe-4bb9-b3dc-0039a6003d98')
GO
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [OrderId]) VALUES (N'a57bd8bd-0555-409b-d2dc-08dda35b7b5b', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'New order #ac8734d2 has been created', N'order', 0, CAST(N'2025-06-04T11:56:43.8238203' AS DateTime2), N'ac8734d2-7460-4dc1-108f-08dda35b7b44')
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [OrderId]) VALUES (N'c38894bb-635e-4564-d2de-08dda35b7b5b', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Order #ac8734d2 items have been updated', N'order', 0, CAST(N'2025-06-04T11:57:45.5918961' AS DateTime2), N'ac8734d2-7460-4dc1-108f-08dda35b7b44')
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Type], [IsRead], [CreatedAt], [OrderId]) VALUES (N'7bd6f0f5-c76b-4bdf-d2e0-08dda35b7b5b', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Order #ac8734d2 items have been updated', N'order', 0, CAST(N'2025-06-04T11:59:33.7667215' AS DateTime2), N'ac8734d2-7460-4dc1-108f-08dda35b7b44')
GO
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [RentalDays], [DailyRate], [Quantity]) VALUES (N'2cd3def5-8c1c-4a0a-9d7e-018f981f32c6', N'0a24f8f3-5de4-41cf-9a0c-0ab65b978b05', N'e4c038c4-5693-403a-9159-088930b0864d', 5, CAST(120000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [RentalDays], [DailyRate], [Quantity]) VALUES (N'd47762be-53b0-4921-b9b3-05f2a75a71f3', N'04112481-4d6c-484c-8594-abaa4b721878', N'bcbd2c26-9ebe-4cf2-bec2-9c63805a640b', 2, CAST(150000.00 AS Decimal(10, 2)), 3)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [RentalDays], [DailyRate], [Quantity]) VALUES (N'ac76b37d-ae7a-4d69-85c2-077321f03137', N'8df4ac57-a3ba-4050-99b9-31bd5dbbb7ba', N'e4c038c4-5693-403a-9159-088930b0864d', 5, CAST(120000.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[OrderTransaction] ([OrdersId], [TransactionsId]) VALUES (N'04112481-4d6c-484c-8594-abaa4b721878', N'4fff7a6e-49ac-48c8-b32a-10742a54c738')
INSERT [dbo].[OrderTransaction] ([OrdersId], [TransactionsId]) VALUES (N'10ff1df7-8966-47fc-9905-ee202d404a5f', N'4fff7a6e-49ac-48c8-b32a-10742a54c738')
INSERT [dbo].[OrderTransaction] ([OrdersId], [TransactionsId]) VALUES (N'8df4ac57-a3ba-4050-99b9-31bd5dbbb7ba', N'b7f2610e-6621-4e4f-ba06-33224531539a')
GO
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (N'526b9da3-d18f-4f05-b262-053a861f76ff', N'4887213a-37fe-4bb9-b3dc-0039a6003d98', N'https://www.mytheresa.com/media/1094/1238/100/65/P00946455.jpg', 0)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (N'88a86a33-e52b-459a-bc29-05eb594282b9', N'e4c038c4-5693-403a-9159-088930b0864d', N'https://arianoboutique.com/96299-large_default/emporio-armani-abito.jpg', 0)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (N'f5a3a00f-b385-4cfe-87af-1ccbbae8d718', N'e403af88-1b0a-44b7-b801-6007a0ad4799', N'https://example.com/images/baba-shirt-2.jpg', 0)
GO
INSERT [dbo].[Products] ([Id], [ProviderId], [Name], [Description], [Category], [Size], [Color], [PricePerDay], [AvailabilityStatus], [RentCount], [CreatedAt], [UpdatedAt], [IsPromoted], [AverageRating], [RatingCount]) VALUES (N'e4c038c4-5693-403a-9159-088930b0864d', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Business Suit (Male)', N'Slim-fit navy blue suit, includes jacket, trousers, and a white shirt.', N'Business Attire', N'L', N'Navy Blue', CAST(120000.00 AS Decimal(10, 2)), N'available', 22, CAST(N'2025-06-25T10:03:31.9566667' AS DateTime2), NULL, 0, CAST(4.5 AS Decimal(2, 1)), 35)
INSERT [dbo].[Products] ([Id], [ProviderId], [Name], [Description], [Category], [Size], [Color], [PricePerDay], [AvailabilityStatus], [RentCount], [CreatedAt], [UpdatedAt], [IsPromoted], [AverageRating], [RatingCount]) VALUES (N'e1c9d78f-9e15-4c8c-b76d-111111111111', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Japanese Kimono', N'Traditional Kimono set, cherry blossom pattern', N'International Attire', N'XL,L', N'Xanh', CAST(2500.00 AS Decimal(10, 2)), N'available', 0, CAST(N'2025-06-04T09:39:35.6900000' AS DateTime2), NULL, 1, CAST(0.0 AS Decimal(2, 1)), 0)
GO
INSERT [dbo].[Profiles] ([Id], [UserId], [FullName], [Phone], [Address], [ProfilePictureUrl]) VALUES (N'2bd793de-096b-4995-46cf-08dd9f290698', N'5517537f-3a3d-4a05-85dc-08dd9f29066f', N'Hong Ty', N'0347350184', N'Ngũ Hành Sơn', N'https://inkythuatso.com/uploads/thumbnails/800/2023/03/3-anh-dai-dien-trang-inkythuatso-03-15-25-56.jpg')
INSERT [dbo].[Profiles] ([Id], [UserId], [FullName], [Phone], [Address], [ProfilePictureUrl]) VALUES (N'0b49e7ab-c18d-44a8-abaf-08dda34c6753', N'dc0c6c15-9faf-48bf-0823-08dda34c674b', N'user138708', N'', N'', N'https://inkythuatso.com/uploads/thumbnails/800/2023/03/3-anh-dai-dien-trang-inkythuatso-03-15-25-56.jpg')
INSERT [dbo].[Profiles] ([Id], [UserId], [FullName], [Phone], [Address], [ProfilePictureUrl]) VALUES (N'17adf14b-91bb-40a9-8d0d-08ddac91dc56', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', N'Ha Danh Dao', N'0347350184', N'Ngũ Hành Sơn', N'https://res.cloudinary.com/dhgxdjczg/image/upload/v1751632057/ShareIt/profile_pics/3ccfaae3-3dc0-4198-9101-08ddac91dc4c.png')
GO
INSERT [dbo].[Transactions] ([Id], [CustomerId], [Amount], [Status], [PaymentMethod], [TransactionDate], [Content]) VALUES (N'202a6a74-8908-4ce3-9463-08956e3aff24', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', CAST(5000.00 AS Decimal(10, 2)), N'completed', N'Bank Transfer - SEPay', CAST(N'2025-07-06T07:09:04.1117449' AS DateTime2), N'Payment for order 1ea325a3-a5a4-4642-0afc-08ddacc9493a')
INSERT [dbo].[Transactions] ([Id], [CustomerId], [Amount], [Status], [PaymentMethod], [TransactionDate], [Content]) VALUES (N'b44ea9f0-85c7-49e2-8992-0bd9ff06bb78', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', CAST(520000.00 AS Decimal(10, 2)), N'completed', N'ATM', CAST(N'2025-07-07T08:58:04.0000000' AS DateTime2), N'Payment for order 9e573b47-8bae-4a1d-b653-55b17551f140')
INSERT [dbo].[Transactions] ([Id], [CustomerId], [Amount], [Status], [PaymentMethod], [TransactionDate], [Content]) VALUES (N'4fff7a6e-49ac-48c8-b32a-10742a54c738', N'3ccfaae3-3dc0-4198-9101-08ddac91dc4c', CAST(2670000.00 AS Decimal(10, 2)), N'completed', N'VNPAY', CAST(N'2025-07-07T04:24:49.9653969' AS DateTime2), N'chuyen tien')
GO
/****** Object:  Index [IX_BankAccounts_ProviderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_BankAccounts_ProviderId] ON [dbo].[BankAccounts]
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_CartId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartId] ON [dbo].[CartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_CustomerId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Carts_CustomerId] ON [dbo].[Carts]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_LastMessageId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Conversations_LastMessageId] ON [dbo].[Conversations]
(
	[LastMessageId] ASC
)
WHERE ([LastMessageId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_User1Id]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_User1Id] ON [dbo].[Conversations]
(
	[User1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_User2Id]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_User2Id] ON [dbo].[Conversations]
(
	[User2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_ProductId] ON [dbo].[Favorites]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_CustomerId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_CustomerId] ON [dbo].[Feedbacks]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_OrderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_OrderId] ON [dbo].[Feedbacks]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_OrderItemId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_OrderItemId] ON [dbo].[Feedbacks]
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_ProductId] ON [dbo].[Feedbacks]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ProviderResponseById]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_ProviderResponseById] ON [dbo].[Feedbacks]
(
	[ProviderResponseById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ConversationId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ConversationId] ON [dbo].[Messages]
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ProductId] ON [dbo].[Messages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ReceiverId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ReceiverId] ON [dbo].[Messages]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderId] ON [dbo].[Messages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_OrderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_OrderId] ON [dbo].[Notifications]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_ProviderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ProviderId] ON [dbo].[Orders]
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderTransaction_TransactionsId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderTransaction_TransactionsId] ON [dbo].[OrderTransaction]
(
	[TransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProviderId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProviderId] ON [dbo].[Products]
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profiles_UserId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Profiles_UserId] ON [dbo].[Profiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_ReporteeId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reports_ReporteeId] ON [dbo].[Reports]
(
	[ReporteeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_ReporterId]    Script Date: 7/18/2025 10:54:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reports_ReporterId] ON [dbo].[Reports]
(
	[ReporterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EndDate]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [StartDate]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [TargetType]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ConversationId]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasAgreedToPolicies]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPromoted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RatingCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankAccounts_Users_ProviderId] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_BankAccounts_Users_ProviderId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_CustomerId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Messages_LastMessageId] FOREIGN KEY([LastMessageId])
REFERENCES [dbo].[Messages] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Messages_LastMessageId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_User1Id] FOREIGN KEY([User1Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_User1Id]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_User2Id] FOREIGN KEY([User2Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_User2Id]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Products_ProductId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users_UserId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_OrderItems_OrderItemId] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_OrderItems_OrderItemId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Orders_OrderId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Products_ProductId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_CustomerId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_ProviderResponseById] FOREIGN KEY([ProviderResponseById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_ProviderResponseById]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Products_ProductId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_SenderId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Orders_OrderId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_ProviderId] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_ProviderId]
GO
ALTER TABLE [dbo].[OrderTransaction]  WITH CHECK ADD  CONSTRAINT [FK_OrderTransaction_Orders_OrdersId] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTransaction] CHECK CONSTRAINT [FK_OrderTransaction_Orders_OrdersId]
GO
ALTER TABLE [dbo].[OrderTransaction]  WITH CHECK ADD  CONSTRAINT [FK_OrderTransaction_Transactions_TransactionsId] FOREIGN KEY([TransactionsId])
REFERENCES [dbo].[Transactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTransaction] CHECK CONSTRAINT [FK_OrderTransaction_Transactions_TransactionsId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users_ProviderId] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users_ProviderId]
GO
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_Profiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Users_UserId]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users_ReporteeId] FOREIGN KEY([ReporteeId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users_ReporteeId]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users_ReporterId] FOREIGN KEY([ReporterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users_ReporterId]
GO
USE [master]
GO
